/* You can add global styles to this file, and also import other style files */
body {
    font: 400 15px Lato, sans-serif;
    /* line-height: 1.8; */
    color: #818181;
    background-color: #FFD166;
}
h2 {
    font-size: 24px;
    /* text-transform: uppercase; */
    color: #303030;
    font-weight: 500;
    /* margin-bottom: 30px; */
}

h4 {
    font-size: 19px;
    /* line-height: 1.375em; */
    color: #303030;
    font-weight: 400;
    /* margin-bottom: 30px; */
} 

.btn-success{
    background-color: #26547C;
    border-color: white;
}

.error{
    color: red;
}